@import './shared/fonts';

// page
@import './index';

html,
body {
  font-family: 'Montserrat', 'Helvetica' !important;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}
