@import './shared/fonts';

// page
@import './index';

//components
@import './header';

html,
body {
  font-family: 'Montserrat', 'Helvetica' !important;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
}

.clickable {
  cursor: pointer;
}
